/*/deep/ .card.customClass {
 background-color: #cbd5d8;
}*/


/*
/deep/ .panel.heading:hover {
 background-color: #cbd5d8;
}*/


/*<p class="text-capitalize">Capitalized text.</p>*/

/deep/ .card-header {
  background-color: #063B5A;
  color: #ffffff;
}

/deep/ .card-header:hover {
  background-color: #cbd5d8;
  color: #063B5A;
}

.logbtn {
  background-color: #E77E22 !important;
  border: 1px solid #E77E22 !important;
  margin: 5px;
}

.detailbtn {
  margin: 5px;
}

div.card {
  /*  width: 250px;*/
  box-shadow: 0 0px 0px 0 rgba(0, 0, 0, 0.2), 0 2px 5px 0 rgba(0, 0, 0, 0.19);
  text-align: center;
  border-radius: 10px;
}

.ejecucion {
  margin-top: 5px;
  padding: 8px;
  background-color: #063B5A;
  border-radius: 3px;
  color: #ffffff;
}

.logdiv {
  width: 100% !important;
  height: 200px;
  ;
  vertical-align: middle;
  margin-bottom: 10px;
}

.neg{
  font-weight:bold;
}
/* Dentro de la tarjeta padding: 1.25rem;
/* En la primer tarjeta padding-top: 1.5rem !important; */
