<div class="row">
  <div class="col-md-{{medida}}">
    <accordion>

      <accordion-group heading="{{proceso.dsproceso}} - {{proceso.numSecProgramacion}}" *ngFor='let proceso of procesos' (click)="onSelect(proceso)" panelClass="customClass" [isOpen]="isFirstOpen">
        <div class="col-md-8">
          <p>Código del Proceso : {{proceso.codigoProceso}}</p>
          <p>Secuencia de Programación : {{proceso.numSecProgramacion}}</p>
          <p>Fecha de Programación : {{proceso.fecha_programacion}}</p>
        </div>
        <div class="col-md-4 text-center">
          <button (click)="gotoDetail(proceso)" class="btn btn-primary detailbtn">Ejecuciones</button>
          <button (click)="gotoLog(proceso)" class="btn btn-danger logbtn">LOG</button>
        </div>
      </accordion-group>

    </accordion>
  </div>

  <div *ngIf='detalle' class="col-md-6">
    <h3 class="text-center ejecucion">EJECUCIONES</h3>
    <div *ngFor='let ejecucion of selectedProceso.numSecEjecucion'>
      <div class="card">
        <div>
          <div class="col-md-4">
            <p>Codigo de Entidad: {{ejecucion.codigoEntidad}}</p>
          </div>
          <div class="col-md-4">
            <p>Codigo de Estado: {{ejecucion.codigoEstado}}</p>
          </div>
          <div class="col-md-4">
            <p>Ejecuta: {{ejecucion.dsLoginEjecuta}}</p>
          </div>
        </div>
        <div>
        <div class="col-md-6">
            <p>Fecha inicio de ejecución: {{ejecucion.fechaInicioEjecucion}}</p>
          </div>
        </div>
        <div>
          <p>Registros a procesar: {{ejecucion.numRegistrosAProcesar}}</p>
        </div>
        <div>
          <p>Registros exitosos: {{ejecucion.numRegistrosConError}}</p>
          <p>Registros con error: {{ejecucion.numRegistrosExitosos}}</p>
        </div>
      </div>
    </div>
    <div class="text-center">
      <button (click)="close()" class="btn btn-danger ">Cerrar</button>
    </div>
  </div>


  <div *ngIf='log' class="col-md-6">
    <h3 class="text-center ejecucion">LOG DEL PROCESO</h3>
    <div class="card logdiv text-center">

    </div>
    <div class="text-center">
      <button (click)="close()" class="btn btn-danger ">Cerrar</button>
    </div>

  </div>

</div>
