<div class="row">
  <div class="col-md-{{medida}}">
    <accordion>
      <accordion-group heading="Static Header, initially expanded" [panelClass]="customClass" [isOpen]="isFirstOpen">
        This content is straight in the template.
      </accordion-group>

      <accordion-group heading="{{proceso.name}}" *ngFor='let proceso of procesos' (click)="onSelect(proceso)" panelClass="customClass">
        <p>Código del Proceso : {{proceso.codigoProceso}}</p>
        <p>Secuencia de Programación : {{proceso.numSecProgramacion}}</p>
        <p>Fecha de Programación : {{proceso.fecha_programacion}}</p>

        <button (click)="gotoDetail(proceso)">View Details</button>
        <button (click)="gotoLog(proceso)">View Log</button>
      </accordion-group>

    </accordion>
  </div>

  <div *ngIf='detalle' class="col-md-6">
    <div *ngFor='let ejecucion of selectedProceso.numSecEjecucion'>Ejecuciones
      <p>Codigo de Entidad: {{ejecucion.codigoEntidad}}</p>
    </div>
    <button (click)="close()">Close</button>
  </div>

  <div *ngIf='log' class="col-md-6">
    <p>LOG</p>
    <button (click)="close()">Close</button>
  </div>

</div>
