<div class="row">
  <div class="col-md-{{medida}}">
      <accordion style="vorder:15px">
        <accordion-group heading="{{proceso.nombreProceso}} - Secuencia: {{proceso.numSecProgramacion}}" *ngFor='let proceso of procesos | paginate: { itemsPerPage: 5, currentPage: p }' (click)="onSelect(proceso)" panelClass="customClass" [isOpen]="isFirstOpen">
          <div class="col-md-12">
            <div class="col-md-4 sinPadding">
              <p>
                <span class="negrita"> Código del Proceso: </span>
                <span>{{proceso.codigoProceso}}</span>
              </p>
              <p>
                <span class="negrita">Secuencia de Programación: </span>
                <span>{{proceso.numSecProgramacion}}</span>
              </p>
              <p>
                <span class="negrita">Fecha de Programación:</span>
                <span>{{proceso.fechaProgramacion}}</span>
              </p>
            </div>

            <div class="col-md-4" *ngIf='deshabilitar'>
              <p>
                <span class="negrita">Fecha Inicio Proceso: </span>
                <span>{{proceso.fechaInicioProceso}}</span>
              </p>
              <p>
                <span class="negrita">Fecha Fin Proceso: </span>
                <span>{{proceso.fechaFinProceso}}</span>
              </p>
              <p>
                <span class="negrita">Número de registros Log: </span>
                <span>{{proceso.numRegLog}}</span>
              </p>
            </div>
            <div class="col-md-4 text-center">
              <button *ngIf='deshabilitar' (click)="gotoDetail(proceso)" class="btn btn-primary detailbtn">Ejecuciones</button>
              <button *ngIf='deshabilitar'(click)="gotoLog(proceso)" class="btn btn-danger logbtn">LOG</button>
            </div>
          </div>
          <!-- En este lugar debe ir la lista de parametros
         <div class="col-md-12">
            <span class="negrita">Lista de parámetros: </span>
            <span *ngFor='let parametro of proceso.listaParametros'>
              <span > {{parametro.clave}}</span>
              <span> </span>
            </span>
          </div>-->
        </accordion-group>
      </accordion>
<div class='paginador'>
    <pagination-controls (pageChange)="p = $event" style="  text-align: center"></pagination-controls>
</div>
  </div>

  <div *ngIf='detalle' class="col-md-6">
    <h3 class="text-center ejecucion">EJECUCIONES</h3>
    <div *ngFor='let ejecucion of selectedProceso.numSecEjecucion | paginate: { itemsPerPage: 5, currentPage: d }'>
      <div class="card">
        <div class="row">

            <div class="column">
              <p>
                <span class="negrita">Codigo de Entidad: </span>
                <span>{{ejecucion.codigoEntidad}}</span>
              </p>
              <p>
                <span class="negrita">Codigo de Estado: </span>
                <span>{{ejecucion.codigoEstado}}</span>
              </p>
              <p>
                <span class="negrita">Ejecuta: </span>
                <span>{{ejecucion.dsLoginEjecuta}}</span>
              </p>
            </div>
            <div class="column">

              <p>
                <span class="negrita">Fecha inicio de ejecución: </span>
                <span>{{ejecucion.fechaInicioEjecucion}}</span>
              </p>
              <p>
                <span class="negrita">Fecha fin de ejecución: </span>
                <span>{{ejecucion.fechaFinEjecucion}}</span>
              </p>
              <p>
                <span class="negrita">Total de registros: </span>
                <span>{{ejecucion.numRegistrosAProcesar}}</span>
              </p>
          </div>
        </div>
        <!-- PROGRESS BAR -->
        <div class="progress">
          <div class="progress-bar progress-bar-success" role="progressbar" [ngStyle]="{'width' : ejecucion.exitosos +'%'}"> {{ejecucion.numRegistrosExitosos}}

          </div>
          <div class="progress-bar progress-bar-warning" role="progressbar" [ngStyle]="{'width' : ejecucion.pendientes +'%'}">{{ejecucion.numRegistrosAProcesar - (ejecucion.numRegistrosExitosos+ ejecucion.numRegistrosConError)}}

          </div>
          <div class="progress-bar progress-bar-danger" role="progressbar" [ngStyle]="{'width' : ejecucion.error +'%'}">{{ejecucion.numRegistrosConError}}

          </div>
        </div>
      </div>
    </div>
    <div class="text-center">
      <button (click)="close()" class="btn btn-danger ">Cerrar</button>
    </div>
  </div>

  <div *ngIf='log' class="col-md-6">
    <h3 class="text-center ejecucion">LOG DEL PROCESO</h3>
    <div class="card logdiv text-center">
      <table class="table padding-left">
          <tr >
              <th style="text-align: center">Poliza</th>
              <th style="text-align: center">Mensaje de error</th>
          </tr>
          <tr *ngFor='let logDetalle of logs.listaLogDetalle | paginate: { itemsPerPage: 5, currentPage: d }' >
              <td>{{logDetalle.poliza}}</td>
              <td>{{logDetalle.mensaje}}</td>
          </tr>
      </table>
    </div>
    <pagination-controls (pageChange)="d = $event" style="  text-align: center"></pagination-controls>

    <div class="text-center">

      <button (click)="close()" class="btn btn-danger ">Cerrar</button>

    </div>

  </div>

</div>
